/* Fonts to use - 
font-family: 'Abril Fatface', cursive; // Main Header 
font-family: 'Raleway', sans-serif; // Subheaders/body paragraphs */

body{
    background-image: url(assets/images/more-leaves.png);
    width: 100%;
}

nav {
    background-color: #B0EBBD;
    display: table;
    text-align: center;
    padding: 25px 0px;
}
 

#header {
    background-color: #B0EBBD;
    color: #313B56;
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

#header h1 {
    margin-left: 35%;
    padding: 10px;
}


#history {
    flex: 1;
    background-color: #F7C0AC;
    height: auto;
    width: 200px;
    color: #313B56;
    text-align: center;
    border-radius: 4px;
}


#history h2 {
    font-family: 'Abril Fatface', cursive;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: large;
}

#history p {
    font-family: 'Raleway', sans-serif;
    font-size: small;
    padding: 3px;
  
}

#main-content {
    width: 80%;
    margin-bottom: 100px;
    margin: auto;
}

#top-section {
    display: table;
    margin: auto;
    margin-top: 40px;
    width: 80%;
  
}

#top-section {
    background-color: white;
    height: auto;
}

.subheader {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;



#search-section {
    flex: 1;
}

#search-section p {
    font-family: 'Abril Fatface', cursive;

    background-color: #F7C0AC;
    color: #313B56;
    padding: 20px 0px;
    margin-top: 0px;
    text-align: center;
    font-size: larger;
    font-style: italic;
}

.row {
    margin: 5px 12px 0px 0px;
}

.search-input {
    display: flex;
    margin-right: 12px;
    align-self: center;
}

#search {
    flex: 1;
    width: 500px;
    height: 30px;
    background-color: #B0EBBD;
    color: #313B56;
    padding: 5px 15px 5px 15px;
}


#search-bar {
    display: flex;
    width: 100%;
}

.card-panel {
    max-width: 200px;
    margin-left: 10px;
}

::placeholder {
    color: white;
    font-style: italic;
}


#submit {
    background-color:#F7C0AC;
    height: 42px;
    margin-top: 15px;
    color: #313B56;
    padding: 5px 15px 20px 15px;
    text-align: center;
    box-shadow: none;
}

#name-image {
    display: flex;
}

#actor-name {
    flex: 1;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 75px;
}

#actor-img {
    flex: 1;
}

#articles {
    display: flex;
}

#article1 {
    flex: 1;
    background-color: #D7F5DE ;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    height: 225px;
    overflow: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#article2 {
    flex: 1;
    background-color: #D7F5DE ;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    height: 225px;
    overflow: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#article3 {
    flex: 1;
    background-color: #D7F5DE;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    height: 225px;
    overflow: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.articleHead {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #B0EBBD;
    font-family: 'Raleway', sans-serif;
    margin-top: -10px;
    border: #D7F5DE solid 2px;
}

.articleImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 65%;
}

#news {
    text-align: center;
    background-color: #B0EBBD;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: xx-large;
    color: white;
}

#name-image {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;

}

#news-articles {
    background-color: #B0EBBD;
    border-radius: 10px;
}

#vid-gif {
    display: flex;
    width: 80%;
   
}

.vidPlay {
    padding: 0px 10px;
    max-width: auto;
}

#yt-section {
    text-align: center;
    flex: 1;
    background-color: #FBDFD5;
    border: 1px solid #F8E2DB;
    width: 100%;
    border-radius: 10px;
    margin: 20px;
}

.mainHeader {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: xx-large;
    background-color: #F7C0AC;
    border-bottom: 1px solid #F8E2DB;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    color: white;
    padding: 15px;
}


#desc {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 10px 45px 50px 45px;
}

#vidTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: larger;
    text-align: center;
    margin: 20px 20px 15px 20px;
    padding: 0px 50px 0px 50px;
}

#gif-section {
    flex: 1;
    background-color: #F7C0AC;
    border: 1px solid #F8E2DB;
    height: 1150px;
    width: 100%;
    border-radius: 10px;
    margin: 20px;
    margin-left: 100px;
    
}

#gif-section h3 {
    background-color: #F7C0AC;
    border-bottom: 1px solid #F8E2DB;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: xx-large;
    padding: 13px;
}

#giphy {
    flex: 1;
    background-color: #FBDFD5 ;
    border: 1px solid #F8E2DB;
    height: 1150px;
    width: 100%;
    overflow: hidden;
}

.gif {
    height: 1;
    width: 1;
    padding: 30px;
    opacity: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

@media screen and (max-width: 640px) {
    body {
        width: 640px;
    }

    #header {
        width: 100%;
    }

    #header h1 {
        margin-left: 8%;
    }

    #search-section {
        width: 500px;
    }

    .search-input {
        display: flex;
        flex-direction: column;
    }

    #top-section {
        width: 500px;
    }
    
    .subheader {
        width: 100%;

    }
    
    #history {
        width: 350px;
    }

    #search {
        width: 200px;
    }


    #actor-name {
        margin-left: 15px;
        width: 350px;
    }

    #main-section {
        width: 80%;
    }

    #news {
        width: 400px;
        margin-left: 15px;
    }

    #articles {
        display: block;
    }

    #article1 {
        margin-left: 40px;
    }

    #article2 {
        margin-left: 40px;
    }

    #article3 {
        margin-left: 40px;
        margin-bottom: 50px;
    }

    #vid-gif {
        display: block;
    }

    #yt-section {
        margin-left: 12px;
    }

    #gif-section {
        margin-left: 12px;
        
    }

}