/* Fonts to use - 
font-family: 'Abril Fatface', cursive; // Main Header 
font-family: 'Raleway', sans-serif; // Subheaders/body paragraphs */

body{
    background-image: url(/assets/images/more-leaves.png);
    width: 100%;
}

#main-content {
    width: 80%;
}

#search {
    flex: 1;
    width: 275px;
}

#search-bar {
    display: flex;
    
    
}

#submit {
    
    height: 30px;
    background-color: blue;
    
}

#name-image {
    display: flex;
}

#actor-name {
    flex: 1;
}

#actor-img {
    flex: 1;
}

#articles {
    display: flex;
}

#article1 {
    flex: 1;
}

#article2 {
    flex: 1;
}

#article3 {
    flex: 1;
}

#vid-gif {
    display: flex;
    width: 80%;
}

#youtube {
    flex: 1;
}

#gif-section {
    flex: 1;
    background-color: #F7C0AC;
    border: 1px solid #F8E2DB;
    height: 1150px;
    width: 100%;
    border-radius: 10px;
    margin: 20px;
    
}

#gif-section h3 {
    background-color: #F7C0AC;
    border-bottom: 1px solid #F8E2DB;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 15px;
}

#giphy {
    flex: 1;
    background-color: #FBDFD5 ;
    border: 1px solid #F8E2DB;
    height: 1150px;
    width: 100%;
    overflow: hidden;
   
}

/* #giphy h3 {
    background-color: #F7C0AC;
    border-bottom: 1px solid #F8E2DB;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    color: white;
    opacity: 100%;
    text-align: center;
    padding: 15px;
} */
.gif {
    
    height: 1;
    width: 1;
    padding: 30px;
    opacity: 100%;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}